body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  background-image: url(./public/img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  min-width: 1000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: rgba(44, 52, 58, 0.671);
  height: 80px;
  display: flex;
  text-align: center;
  overflow: hidden;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}

#logo{
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 1vw;
  height: 4vw;
}

#logo img{
  margin: 0;
  position: absolute;
  top: 0;
  left: 10;
  width: 4%;
  background-color: rgba(128, 128, 128, 0);
  border: 20px;
  border-radius: 15px;
}

#nav{
  display: flex;
  margin-right: 1.5%;
}

#nav a{
  background-color: rgba(92, 209, 245, 0.11);
  float: right;
  color: white;
  text-align: center;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 10px;
  margin-right: 10%;
  height: 50%;
}

#nav a:hover{
  background-color: rgb(132, 248, 242);
  transition-duration: 1s;
  color:black;
}

#footer{
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(44, 52, 58, 0.671);
  color: rgb(190, 237, 245);
  height: 80px;
  overflow: hidden;
  bottom: 0;
}

#welcomeMessage{
  color: rgb(158, 156, 153);
  -webkit-text-stroke: 1px black;
  text-align: center;
}

.question_box{
  position: relative;
  justify-content: center;
  align-items: center;
  display: block;
  height: 500px;
}

.box_background{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translateX(-50%); 
  margin-top: 5%;
  width: 50%;
  height: 500px;
  background-color: rgba(85, 45, 18, 0.329);
  display: block;
  z-index: -1;
  filter: blur(1px);

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.7);
}

.box_content{
  height: 700px;
}

.logo_question{
  position: relative;
  top: 120px;
  width: 100%;
  text-align: center;
}

.result{
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  bottom: 0;
  top:100%;
  margin-left: auto;
  margin-right: auto;
}

#score{
  margin-left: 2%;
  color:rgb(5, 4, 59);
}

#correct{
  color:rgb(5, 4, 59);
}

.answers_big_box{
  display: block;
}

.answers_big_box::before{
  color:red;
}


.answers_big_box::after{
  color:green;

}

.answers_box{
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.answer_button{
  flex:1;
  background-color: rgba(222, 184, 135, 0.712);
  color:rgb(5, 4, 59);
  border: 1px black;
  border-radius: 10px;
  min-width: 120px;
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.next_button{
  flex:1;
  background-color: rgba(128, 100, 255, 0.658);
  color:rgb(5, 4, 59);
  border: 1px black;
  border-radius: 10px;
  min-width: 80px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.answer_button:hover{
  background-color: rgb(240, 171, 81);
  transition-duration: 1s;
  color:black;
}

#author{
  position: relative;
  font-size: 15px;
  flex: 1;
  float: left;
}

#name{
  width: 100%;
  text-align: center;
}

@media screen and (max-width:900px){
  .navigation a{
    padding: 1% 15%;
  }

}
